<%- include('./partials/head') %>

  <h1>TYGO WOLVEN</h1>
    <h2>Student aan Hogeschool van Amsterdam</h2>

    <img src="/images/Tygo als png.png">
    <img src="/images/punt.png" id="Punt">

    <ul>
        <li id="Leeftijd">19 Jaar</li>
        <li id="Werk">Barman</li>
        <li id="Woonplaats">Krommenie, Zaanstad</li>
    </ul>

    <a href="https://www.snapchat.com/add/thieghooww?share_id=RdSzH5Rp_tE&locale=nl-NL"><img src="/images/snapchat.png" id="Snapchat"></a>
    <a href="https://www.instagram.com/tygowolvenn_/"><img src="/images/instagram.png" id="Instagram"></a>
    <a href="https://github.com/TygoWolven/"><img src="/images/github.png" id="Github"></a>

    <button id="Arrowbutton"><img src="/images/right-arrow.png"></button>

<%- include('./partials/foot') %>
